<style type="text/css">
.fontFamily{font-family;楷体;}
.fontStyle{font=style:italic;}
.fontSize1{font-size:xx-large;}
.fontSize2{font-size:24px;}
.myFont{font:italic bold 12px/20px arial,sans-serif;}
</style>